{% macro curietouri(curie) -%}
    {%- set prefix, name = curie.split(":") -%}
    {{ prefixes[prefix] ~ name }}
{%- endmacro %}

{% macro link_curie(curie) -%}
    {%- set uri = curietouri(curie) -%}
    {{ uri ~ "[`" ~ curie ~ "`]" }}
{%- endmacro %}

{% macro cardinalities(slot) -%}
    {% if slot.required and not slot.multivalued -%}
    (1)
    {% elif slot.required and slot.multivalued -%}
    (1..*)
    {% elif not slot.required and slot.multivalued -%}
    (0..*)
    {% elif not slot.required and not slot.multivalued -%}
    (0..1)
    {% endif %}
{%- endmacro %}

= {% if title %}{{ title }}{% else %}{{ name }}{% endif %}
:toc: left
:sectnums:

{% if description -%}
{{ description }}
{%- endif %}

'''

[#metadata]
--
URI:: {{ id }}[{{ id }}]
Version:: {{version}}
Version of:: {{ instantiates }}[{{ instantiates }}]
Artifacts:: link:./prof_ap_cim.shacl.ttl[SHACL (Turtle),window=read-later] | link:./prof_ap_cim.linkml.yml[LinkML (YAML),window=read-later]
--

{#[nonum]
== Abstract
#TODO#.#}

== Introduction

This is an application profile of PROF for defining CIM profiles.

== Status
#TODO#.

== License
#TODO#.

== Conformance
#TODO#.

== Terminology
#TODO#.

== Schema

.Schema
image::prof_ap_cim.uml.svg[]

{% for class_name, class_ in classes.items() -%}
=== Class: {{ class_name }}
[horizontal]
URI:: {{ link_curie(class_.class_uri) }}

{% if class_.description %}{{ class_.description }}{% endif %}

{% for attr_name, attr_ in class_.attributes.items() -%}
{% if loop.first %}
.Profile properties
[cols="1,1,3"]
|===
| Property | Type | Description

{% endif %}
| {{ curietouri(attr_.slot_uri) }}[`{{ attr_name }}`, title={{attr_.slot_uri}}]
a|
[unstyled]
* `{{ attr_.range }}`
* {{ cardinalities(attr_) }}
| {{ attr_.description }}
{% if loop.last %}
|===
{% endif %}
{% endfor %}

{% endfor %}


== Appendix A: Example

CIM4Diagram example in YAML (JSON-LD).

== Appendix B: Validating profiles